@import '../../styles.scss';

label{
  color: $blanco-letra;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 2.7fr;
  grid-template-areas: ". . ." ". Registro ." ". . .";
}

.Registro {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 0.2fr 2.5fr 0.2fr;
  grid-template-areas: ". . ." ". Inputs ." ". . .";
  grid-area: Registro;
}

.Inputs {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 1fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 2.2fr;  
  grid-template-areas: "." "." "." "." "." "." ".";
  grid-area: Inputs;
}

.box0 {
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 2;
}

.box1 {
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 3;
   grid-row-end: 4;
}

.box2 {
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 5;
   grid-row-end: 6;
}

.box3 {
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 7;
   grid-row-end: 8;
}

.box4 {
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 9;
   grid-row-end: 10;
}

.box5 {
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 11;
   grid-row-end: 12;
}

.flex-content{
  display: flex;
  justify-content: center;
}

.flex-left{
  display: flex;
  justify-content: flex-start;
}

.adaptarse{
  flex-grow: 1;
}