<div class="grid-container">
  <div class="Registro">
    <div class="Inputs">
    	<div class="box0 flex-content">
    		<label for="">
    			Registro
    		</label>
        </div>
    	<div class="box1 flex-content">
	    	<input pInputText type="text" placeholder="Nombre" class="adaptarse" />
    	</div>
		<div class="box2 flex-content">
        	<input type="text" pPassword placeholder="Apellido" class="adaptarse" />
		</div>
		<div class="box3 flex-content">
			<input pInputText type="text" placeholder="alguien@correo.com.ar" class="adaptarse" />
		</div>
		<div class="box4 flex-content">
			<input type="text" pPassword placeholder="Clave..." class="adaptarse" />
		</div>
		<div class="box5 flex-content">
			<button pButton label="Registrar"type="button" class="adaptarse"></button>
		</div>
  </div>
</div>