<div class="grid-container">
  <div class="Login">
    <div class="Inputs">
    	<div class="box0 flex-content">
    		<label for="">
    			Ingrese sus datos
    		</label>
        </div>
    	<div class="box1 flex-content">
	    	<input pInputText type="text" placeholder="Username" class="adaptarse" />
    	</div>
		<div class="box2 flex-content">
        	<input type="text" pPassword placeholder="Password" class="adaptarse" />
		</div>
		<div class="box3 flex-left">
			<p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
			<label for=""> Recordarme</label>
		</div>
		<div class="box4 flex-content">
			<button pButton label="LOGIN"type="button" class="adaptarse"></button>
		</div>
		<div class="box5 flex-content">
			<a href="">Registro</a>
		</div>
  </div>
</div>